<h1>Exhibit</h1>

<ul>
  {{#each name}}
  	<li>
<<<<<<< HEAD
  		<p><span class="label">Title:</span> {{title}}</p>
      	<p><span class="label">Description:</span> {{description}}</p>
      	<p><span class="label">Created Date:</span> {{created_date}}</p>
      	<p><span class="label">Medium:</span> {{medium}}</p>
=======
  		<p><span class="label">Title:</span> {{this.title}}</p>
      	<p><span class="label">Description:</span> {{this.description}}</p>
      	<p><span class="label">Medium:</span> {{this.medium}}</p>
      	<p><span class="label">Created Date:</span> {{this.created_date}}</p>
      	<p><span class="label">Image:</span> {{this.image}}</p>
>>>>>>> d0621f100e3270c2c3f876b9ea4ee48b4f762f11
  	</li>
  {{/each}}
</ul>
