<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/settings">
    <img src="../images/Parthenon-128.png" width="30" height="30" class="d-inline-block align-top" alt=""> The Museum's Exhibition Management Page
    </a>
</nav>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 col-md-offset-2">
            <div class="author-container">
                <h1>Artists</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID #</th>
                            <th>See Number of Pieces</th>
                            <th>New Art Piece</th>
                            <th>Delete Artist</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{{#each artists}}
                    	<tr>
                    		<td>
								{{name}}
                    		</td>
                    		<td>
                    			{{id}}
                    		</td>
                    		<td>
                    			{{Artworks.length}}
                    		</td>
                    		<td>
                    			<a href="artistContent/{{{id}}}">Add a New Content for this Artist</a>
                    		</td>
                    		<td>
                                {{!-- needs an on hover effect to show button status --}}
                    			<a class="delete-artist" data-id="{{{id}}}" href="">Delete Artist from Database (and all associated artwork)</a>
                    		</td>
                    	</tr>
                    	{{/each}}
                        <tr id="form-row">
                            <form id="enterArtist">
                                <td colspan="4">
                                    <input placeholder="Enter a name" id="artistName" type="text" />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success">Add Artist</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
